.btn-default,.form-group{
    font-size: 13px;
}
.btn-default a{
    color: black;
}
.form-group label{
    font-weight: 100;
    vertical-align: middle;
    margin-bottom: 0;
}
.btn-group .btn:first-child {
	border-radius: 3px 0 0 3px;
}
.btn-group .btn:last-child {
	border-radius: 0 3px 3px 0;
}



